header {
    width:100%;
    height:6.8rem;
    display:block;
    border-bottom: 1px solid LightGrey;
    box-shadow: 0px 2px 7px 0px #bdc3c7;
    z-index:1000;
}

.container {
    width: 90%;
    margin: auto;
}

.logo {
    float:left;
    padding:1rem 0 .5rem;
    width:191px;
}

header nav {
    display:inline;
    float:right;
    padding-top:30px;
    z-index:1000;
}

header ul {
    margin:0;
    padding:0;
}

header ul li {
    display:inline;
    margin:0;
    padding:0;
}

header nav ul li a {
    text-decoration:none;
    color: rgba(25, 65, 112, 1);
    padding:0 10px 0 10px;
    font-size:1.25rem;
}

header nav a:hover {
    color:#c62128;
}

header nav a:active {
    color:#c62128;
}

.hamburger {
    display:none;
    width:50px;
    height:50px;
    float:right;
    margin-top:1.1rem;
}

/*iPad Portrait Breakpoint*/
@media only screen and (max-width:768px) {
    .desktop-only {
        display:none;
    }

    .container {
        width:90%;
    }

    .hamburger {
        width: 50px;
        height:auto;
        float:right;
        margin-top:1rem;
    }

    nav ul li {
        display:block;
        border-bottom:1px solid rgba(26, 64, 112, 1);
        background-color:#fff;
        text-align:left;
    }

    nav ul li a {
        display:block;
        border-bottom:1px solid rgba(26, 64, 112, 1);
        background-color:#fff;
        text-align:left;
    }

}

/*Mobile Breakpoint*/
@media only screen and (max-width:650px){

}