/******************************************
/* SETUP
/*******************************************/

@import url("../fonts/stylesheet.css");

/* Box Model Hack */
* {
    -moz-box-sizing: border-box; /* Firexfox */ /* Safari/Chrome/iOS/Android */
    box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clear {
    clear: both;
}

.alignright {
    float: right;
    padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
    float: left;
    padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

.template {
    background-color: rgb(15, 196, 204);
    height:500px;
    position: relative;
    z-index:-1;
}

.template .container {
    margin:50px 0 50px;
    background-color:white;
    height: 300px;
    position: absolute;
    top: 50px;
    left: 50px;
}

.container-60 {
    width:60%;
    margin:0 auto;
}


/******************************************
/* BASE STYLES
/*******************************************/

body {
    color:rgba(26, 64, 112, 1);
    font-size: 10px;
    line-height: 1.4;
    font-family: 'cabrito', 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
    position:relative;
}

h1,h2,h3 {
    font-family: 'cabrito_bold', 'Helvetica Neue Light', Helvetica, Arial, sans-serif;
}

body p {
    color: #7f8c8d;
}

/* Center the container */
.container {
    width:90%;
    margin: auto;
}

a {
    color: #c62128;
}

.page-title {
    margin:0;
    padding:0;
    margin: 2rem 0 1rem 0;
    font-size:1.8rem;
    display:block;
}

input[type=submit],
.button,
#mc-embedded-subscribe {
    background:#29aee4;
    color:#FFF;
    font-family:inherit;
}

/******************************************
/* GLOBAL STYLES
/*******************************************/

.center {
    margin:0 auto;
    width:auto;
}

.padding {
    margin:1rem;
}

/******************************************
/* HEADER STYLES
/*******************************************/

header {
    border-bottom: 1px solid LightGrey;
    width:100%;
    height:auto;
    display:block;
    background-color: rgba(255,255,255,1);
    box-shadow: 0px 2px 7px 0px #bdc3c7;
    clear:both;
    z-index:1000;
}

.header-content {
    width:90%;
    margin: 0 auto;
}

.logo {
    position:relative;
    top:0;
    left:0;
    padding:10px 0 10px;
    width:171px;
    height:auto;
    display:inline;
}

header nav {
    display:inline;
    float:right;
    padding-top:30px;
    z-index:1000;
}

header ul {
    margin:0;
    padding:0;
}

header ul li {
    display:inline;
    margin:0;
    padding:0;
}

header nav ul li a {
    text-decoration:none;
    color: rgba(25, 65, 112, 1);
    padding:0 10px 0 10px;
    font-size:1.25rem;
}

header nav a:hover {
    color:#c62128;
}

header nav a:active {
    color:#c62128;
}

.menu-icon {
    display:none;
    width:50px;
    height:50px;
    float:right;
    margin-top:1.1rem;
}

/******************************************
/* FOOTER STYLES
/*******************************************/

footer {
    width:100%;
    font-size:.8rem;
    border-top:1px solid #bdc3c7;
    box-shadow:         0px -2px 7px 0px #bdc3c7;
    z-index:1000;
}

footer section {
    width:32%;
    display:inline;
    float:left;
    margin-left:2%;
    border-left: 1px solid #bdc3c7;
    height:250px;
    max-height:250px;
    padding-left:2%;
}

footer section:first-child {
    margin:0;
    border:none;
    padding:0;
}

footer .container {
    margin-top:15px;
    margin-bottom:15px;
}

.followus .container div {
    float:none;
    display:inline;
    width: auto;
    margin-left:12%;
}


.followus div a {
    text-decoration:none;
}

.facebook-foot, .twitter-foot {
    width: 30%;
    max-width:100px;
}

.followus .container {
    margin-top:1.8rem;
}

footer a {
    line-height:125%;
    text-decoration:none;
}

footer a:hover {
    text-decoration:underline;
}

#mc_embed_signup {
    padding-left:0;
    background:#fff;
    clear:left
}

footer #mc_embed_signup .button {
    background:#29aee4;
    color:#FFF;
    font-family:inherit;
    border-radius:0;
}

footer #mc_embed_signup .button:hover {
    background-color:rgba(26, 64, 112, 1);
}

/******************************************
/* HOMEPAGE STYLES
/*******************************************/

.home-cover {
    background-image: url('../img/home-cover.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin:0 auto;
    z-index:-1;
}

.home-cover h1, .home-cover p {
    background-color: rgba(255,255,255,.65);
    text-align:center;
    color:rgba(26, 64, 112, 1);
    margin:0 auto;
    width:60%;
    padding:1rem;
}

.home-cover h1 {
    font-size:3rem;
}

.home-cover p {
    font-size:1rem;
}

.home-cover div {
    padding:200px;
}

.case-studies {
    padding:2rem 0 2rem;
}

.thirds {
    width:32%;
    margin-left:1.8%;
    display:inline-block;
}

.thirds img {
    width:98%;
}

.thirds:first-child {
    margin:0;
}

.half {
    width:48%;
    display:inline-block;
    padding-left:2%;
}

.half:first-child {
    padding:0;
}

.practice-areas {
    background-color:#ecf0f1;
}

.practice-areas h3,
.case-studies h3 {
    font-size:1.5rem;
    margin:1rem 0 0;
}

.practice-areas p,
.case-studies p {
    font-size:1.1rem;
    margin:.5rem 0 0;
}


/******************************************
/*  Who We Are (Styles)
/*******************************************/
.emp-name a{
    font-size:150%;
    color:rgba(26, 64, 112, 1);
    margin:0;
    padding:0;
    line-height:1;
}

.emp-name a:hover{
    color:#c62128;
}

.emp-title {
    border-bottom:1px solid #bdc3c7;
    margin-top:-5px;
    padding:0;
    padding-bottom:10px;
    line-height:1;
    font-size:115%;
    font-family: 'helvetica neue';
    font-style:italic;
}

.emp-title:last-child {
    border-bottom:none;
}

.container-60 section {
    margin:25px 0 25px;
}



/******************************************
/*  EMP BIO STYLES
/*******************************************/
.container {
    width:90%;
    margin: 0 auto;
}

.staff-name {
    font-size:2rem;
    font-family:'cabrito', 'helvetica neue', helvetica, sans-serif;
    font-weight:400;
    padding-bottom:5px;
    width:36%;
    margin: 10px 0 0;
}

.left-col {
    width:36%;
    margin:0;
    float:left;
    padding-bottom:25px;
}

.left-col img {
    margin:0 auto;
}

.staff-photo {
    padding:10px 10px 10px 0;
    border-top: 1px solid #bdc3c7;
    width:90%;
    max-width:400px;
}

.staff-contact {
    clear:both;
    margin:0 auto;
    max-width:auto;
}

.staff-contact a {
    float:left;
    width:29%;
    margin: .5rem 0 .5rem;
    border:none;
    text-align:center;
}

.linkedin, .twitter, .email {
    width:75%;
}

div a img .linkedin,
div a img .twitter,
div a img .email {
    border:none;
}

.staff-bio {
    float:right;
    width:63%;
    font-size:1rem;
    font-family: 'Source Sans Pro', sans-serif;
    margin-bottom:25px;
}

.staff-bio p {
    margin: 0 0 1rem 0;
}

.staff-bio p:last-child {
    margin: 0;
}

.mobile-only {
    display:none;
}

.desktop-only-social {
    display: inline-block;
    clear:both;
}

/******************************************
/*  CONTACT PAGE STYLES
/*******************************************/

#map {
    margin:0;
    padding:0;
    margin-bottom: 2.5rem;
    width:47%;
    max-width:500px;
    height:400px;
    overflow:hidden;
    float:left;
}

.contact-info {
    margin:0;
    padding:0;
    width:47%;
    margin-left:5%;
    margin-bottom:2.5rem;
    z-index:1000;
    float:left;
}

.contact-info p {
    font-size:.8rem;
    padding-top:0;
    margin-top:0;
}

.contact-info h3 {
    font-size:1.2rem;
    margin:0;
    padding:0;
}

/******************************************
/*  RESPONSIVE STYLES
/*******************************************/

/*iPad Portrait Breakpoint*/
@media only screen and (max-width:768px) {

    .show {
        display:block;
    }

/*MOBILE HEADER*/

    header {
        position:relative;
    }

    .menu-icon {
        display:inline-block;
        width: 50px;
        height:auto;
        float:right;
        margin-top:1.1rem;
    }

    #main-menu {
        width:100%;
        position:absolute;
        top:60px;
        left:0px;
    }

    nav ul li {
        display:none;
        width:100%;
        border-bottom:1px solid rgba(26, 64, 112, 1);
        background-color:#fff;
        text-align:left;
    }

    nav ul li:first-child {
        border-top:1px solid rgba(26, 64, 112, 1);
    }
/*END MOBILE HEADER*/

/*MOBILE FOOTER*/
    footer section {
        display:block;
        float:none;
        width:auto;
        border:none;
        margin:0;
        padding:0;
        border-top:1px solid grey;
    }

    footer .followus {
        max-height:180px;
    }

    footer .contact {
        max-height:150px;
    }

    .facebook-foot, .twitter-foot {
        width: 22%;
    }

    .followus .container div {
        margin-left:20%;
    }

    .followus .container {
        margin-top:1rem;
    }
/*END MOBILE FOOTER*/

}

/*Mobile Breakpoint*/
@media only screen and (max-width:650px){

    .mobile-only {
        display:block;
    }

    .tablet-desk-only {
        display:none;
    }


/*Staff Bios*/
    .staff-name {
        text-align:center;
        width:100%;
    }

    .left-col {
        float:none;
        width:100%;
        margin-bottom:25px;
    }

    .staff-photo {
        float:none;
        display:block;
        margin:0 auto;
        width: 65%;
        padding:0;
        padding-top:15px;
        text-align:center;
    }

    .staff-bio {
        float: none;
        width:100%;
        padding:0;
        margin:0;
        margin-top:-2rem;
        font-size:115%;
        display:block;
    }

    .staff-bio p {
        margin: 0 0 1rem 0;
        font-size:125%;
    }

    .staff-bio p:first-child {
        margin-top: -2.5rem;
    }

    .staff-bio p:last-child {
        margin-bottom: 0;
    }

    .staff-contact a {
        float:left;
        width:31%;
        margin: .5rem 1% .5rem 1%;
        border:none;
    }

    .staff-contact a:first-child {
        margin-left: 0;
        margin-right:0;
    }

    .staff-contact a:last-child {
        margin-left: 0;
        margin-right:0;
    }
/*End Staff Bios*/

}

@media only screen and (max-width:600px){
    /*Contact Page*/
    #map {
        width:100%;
        height:200px;
    }

    .contact-info {
        width:auto;
        margin:0;
        margin-bottom:2.5rem;
    }
/*End Contact Page*/
}

@media only screen and (min-width:1300px){
    html {
        width:1300px;
    }